export(download_illumina_manifest_file)
export(list_illumina_manifest_files)
export(lumiR.idat)
export(preprocess.illumina.idat)
export(read.illumina.manifest)
export(read.ilmn.idat)
importClassesFrom(limma,EListRaw)
importClassesFrom(lumi,LumiBatch)
importFrom(limma,read.ilmn)
importFrom(lumi,addControlData2lumi)
importFrom(lumi,lumiR)
