export(LumiBatch2GEOarchive)
export(lumiR.idat)
export(preprocess.illumina.idat)
export(read.illumina.manifest)
export(read.ilmn.idat)
importClassesFrom(limma,EListRaw)
importClassesFrom(lumi,LumiBatch)
importFrom(Biobase,exprs)
importFrom(Biobase,featureNames)
importFrom(Biobase,sampleNames)
importFrom(limma,read.ilmn)
importFrom(lumi,detection)
importFrom(lumi,lumiR)
